@page
@model Lanchonete.Views.Shared.CarrosselModel
@{
}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/imagens/carousel11.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/carousel12.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/carousel13.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />
<div class="hstack gap-3">

    <div class="card" style="width: 25rem;">
  <div class="card-header" style="background-color:mediumseagreen">
   <h4> MENU</h4> 
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cardápio</li>
    <li class="list-group-item">Lanches</li>
    <li class="list-group-item">Porções</li>
    <li class="list-group-item">Sucessos de venda</li>
  </ul>
</div>

    <div class="card-group">
        <div class="card m-2">
            <img src="~/imagens/hamburguer.jpg" class="img-thumbnail" alt="...">
            <div class="card-body">
                <h2 class="card-title">Lanches</h2>
            </div>
        </div>
        <div class="card m-2">
            <img src="~/imagens/suco.jpg" class="img-thumbnail" alt="...">
            <div class="card-body">
                <h2 class="card-title">Bebidas</h2>
            </div>
        </div>
        <div class="card m-2">
            <img src="~/imagens/combos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Combos</h2>
            </div>
        </div>
    </div>

</div>