@model ClienteModel
@{
    ViewData["title"] = "Editar Cliente";
}

<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">Editar Cliente</h1>
    </div>
    <form method="post" asp-controller="Cliente" asp-action="Editar">
        <input type="hidden" asp-for="Id"/>

        <div class="form-group">
            <label for="Nome" class="text-light">Nome: </label>
            <input type="text" class="form-control" asp-for="Nome" id="Nome" aria-describedby="Nome" placeholder="Nome" />
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>
        <div class="form-group">
            <label for="CPF" class-"text-light"> CPF </label>
            <input type="text" class="form-control" asp-for="CPF" id="CPF" placeholder="Digite o CPF" />
            <span class="text-danger" asp-validation-for="CPF"></span>
        </div>
        <div class="form-group">
            <label for="Endereco" class="text-light">Endereco</label>
            <input type="text" class="form-control" asp-for="Endereco" id="Endereco" placeholder="Qual o Endereço?">
            <span class="text-danger" asp-validation-for="Endereco"></span>
        </div>
        <div class="form-group">
            <label for="Telefone" class="text-light"> Telefone</label>
            <input type="text" class="form-control" asp-for="Telefone" id="Telefone" placeholder="Qual o Telefone?">
            <span class="text-danger" asp-validation-for="Telefone"></span>
        </div>
        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Enviar</button>
            <a class="btn btn-primary w-50" asp-controller="Cliente" asp-action="Index"> Voltar</a>

        </div>

    </form>

</div>
